th {
    text-align: center;
}

.wrapper {
    padding: 10px 3%;
}

.dateInput {
    max-width: 282px;
    margin: 15px auto;
    text-align: center;
}

.buttons {
    margin-bottom: 5px;
}

.app {
    display: flex;
    flex-direction: column;
}

.app tbody {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row,
.slds-text-title--caps {
    display: flex;
    width: 100%;
}

.row {
    min-height: 85px;
}

.box {
    display: inline-block;
    overflow: visible;
    width: 1%;
    padding: 8px !important;
    cursor: default;
    border-right: 1px solid #d8dde6;
    flex-grow: 1;
}

.box:first-child {
    border-left: 1px solid #d8dde6;
}

.box .eventName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}

.box .eventName:hover {
    cursor: pointer;
    color: #11ffe0;
}

.day {
    position: absolute;
    top: 1px;
    right: 8px;
}

.modalBody {
    padding: 10px 30px;
}

.modalBody p {
    white-space: initial;
}

.speakers {
    text-align: center;
}

.speaker {
    display: inline-block;
    width: 100px;
    margin: 3px;
    text-align: center;
}

.speaker img {
    display: block;
    height: 100px;
    margin: 0 auto;
    border-radius: 30%;
}

.speaker span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inactiveMonth {
    background-color: #f4f6f9;
}

.curentDate {
    background-color: #ecf3ff;
}

.description {
    margin: 5px;
    text-align: justify;
}

.resource {
    display: flex;
    border-top: 1px solid #ccc;
}

.resource a {
    overflow: hidden;
    margin: 3px;
    text-align: center;
    text-overflow: ellipsis;
    border-right: 1px solid #ccc;
    flex-grow: 1;
    flex-basis: 50px;
}

.resource p {
    margin: 3px;
    text-align: justify;
    flex-grow: 10;
    flex-basis: 1%;
}

.eventLine {
    position: relative;
    z-index: 1;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    background-color: #3174ad;
}

.eventLine.right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.eventLine.left {
    margin-left: -8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.date {
    margin: 8px 0;
    text-align: center;
}

.date p {
    display: inline-block;
    margin: 0 20px;
}

.map {
    width: 80%;
    height: 400px;
    margin: 10px auto;
}

.map iframe {
    width: 100%;
    height: 100%;
}

@keyframes up {
    0% {
        top: 50%;
    }
    100% {
        top: 0;
    }
}

.slds-modal__container {
    top: 50%;
    transition-duration: 1s;
    transform: translate3d(0, 0, 0);
    animation: up .5s forwards;
}
