th {
	text-align: center;
}

.wrapper {
	padding: 10px 3%;
}

.dateInput {
    max-width: 282px;
    text-align: center;
    margin: 15px auto;
}

.buttons {
    margin-bottom: 5px;
}

.app {
    /*height: 620px;*/
    flex-direction: column;
    display: flex;
}

.app tbody {
    flex-direction: column;
    display: flex;
    height: 100%;
}

.row,
.slds-text-title--caps {
    width: 100%;
    /*flex-basis: 1%;*/
    display: flex;
    /*flex-grow: 1;*/
}

.row {
    min-height: 85px;
}

.box {
    display: inline-block;
    flex-grow: 1;
    width: 1%;
    padding: 8px !important;
    border-right: 1px solid #d8dde6;
    cursor: default;
    overflow: visible;
}

.box:first-child {
    border-left: 1px solid #d8dde6;
}

.box .eventName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 10px 0;
}

.box .eventName:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 0 #d8dde6;
    color: #4d95ff;
}

.day {
	position: absolute;
	top: 5px;
	right: 8px;
}

.modalBody {
    padding: 10px;
}

.modalBody p {
	white-space: initial;
}

.speakers {
	text-align: center;
}

.speaker {
	display: inline-block;
	text-align: center;
	width: 100px;
    margin: 3px;
}

.speaker img {
	display: block;
	height: 100px;
	margin: 0 auto;
}

.speaker span {
	display: block;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.inactiveMonth {
    background-color: #f4f6f9;
}

.curentDate {
    background-color: #ecf3ff;
}

.description {
    margin: 5px;
}

.resource {
    display: flex;
    border-top: 1px solid #ccc;
}

.resource a {
    flex-grow: 1;
    flex-basis: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid #ccc;
    margin: 3px;
}

.resource p {
    flex-grow: 10;
    flex-basis: 1%;
    margin: 3px;
}

/*.eventLine {
    width: 1000px;
    background-color: blue;
    text-align: center;
    position: relative;
    z-index: 1;
}*/
